HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
application.properties
inspace-d2239-firebase-adminsdk-fbsvc-7962a1caf6.json
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

#Gradle
.gradle
/build/
#
##firebase Admin SDK key
#inspzsrc/main/resources/inspace-d2239-firebase-adminsdk-fbsvc-7962a1caf6.json


